# dependencies
/node_modules
/package-lock.json
/dist

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.env.dev
.env.stg
.env.prod

# System Files
.DS_Store
Thumbs.db